<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - NodeLR</title>
    <script type="module" src="./public/js/app.js"></script>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/404">Page 404</a>
    </nav>
    <div class="card">
      <h1>{{title}}</h1>
      <div>{{content}}</div>
      <a href="/about" class="btn">Learn More</a>
      <a href="/404" class="btn">Page Not Found</a>
    </div>
  </body>
</html>
